python-dotenv==1.1.0
httpx==0.28.1
pydantic==2.11.3
pydantic-settings==2.9.1
fastapi==0.115.12
uvicorn==0.34.2
langchain==0.3.24
langchain-community==0.3.23
langchain-groq==0.3.2
lanchain-ollama==0.3.2
lanchain-openai==0.3.14
jupyter==1.1.1
mistralai==1.7.0
unstructured
docx2txt==0.9
huggingface_hub==0.30.2
sentence-transformers==4.1.0
langchain-huggingface==0.1.2
langchain_chroma==0.2.3